* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overscroll-behavior-y: contain;
}
.startBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startBtn {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: none;
  background-color: #24a0ed;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: white;
  outline: none;
}
#webcam-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
canvas {
  border-radius: 20px;
}
#label-container {
  background-color: #48a231;
  padding: 25px;
  color: #ffffff;
  margin: 20px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  overflow: auto;
  height: 340px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBtnn {
  position: fixed;
  bottom: 0px;
  margin-bottom: 80px;
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: none;
  background-color: #008037;
  color: #eeeeee;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  letter-spacing: 2px;
}
.searchResult {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
}
.instruction{
  padding: 20px 10px 0 10px;
  color: #48a231;
  margin: 60px 0 10px 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
@media (min-width: 480px) {
  .container {
    width: 70%;
    margin: auto;
  }
  .searchBtn {
    width: 20%;
  }
  .instruction{
    text-align: center;
  }
}
.RefreshBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.refreshBtn{
  background-color: #008037;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 9px;
  color: white;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-weight: bold;
}
.backBtnn{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  letter-spacing: 2px;
  width: 90px;
  position: fixed;
  padding: 10px;
  margin: 6px 0 0 20px;
  border-radius: 10px;
  border: none;
  background-color: #008037;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}